<header>
    <h2><a href="/">FinPost</a></h2>
    <nav>
        <% if (username) { %>
            <p>Hello, <%= username %></p>
            <a href="/create-post">Create Post</a>
            <a href="/profile">Settings</a> <!-- 👈 Added Settings Button -->
            <a href="/logout">Log Out</a>
        <% } else { %>
            
        <% } %>
    </nav>
</header>
